<section class="home-section portfolio-section">
  <main>
    <div @fadeInUp>
      <h5 class="welcome-text">Hi, my name is</h5>
    </div>
    <div @fadeInUp>
      <h1 class="user-name">{{ intro.name }}</h1>
      <span class="nick-name">{{ intro.nick_name }}</span>
    </div>
    <div @fadeInUp>
      <h2 class="short-description">{{ intro.short_description }}</h2>
    </div>
    <div @fadeInUp>
      <p class="description">{{ intro.description }}</p>
    </div>
    <div @fadeInUp>
      <img src="../../../assets/svg/home.svg" />
    </div>
  </main>
</section>
