<header class="app-header" [class.shadowBox]="scrollTop > 70">
  <div class="app-logo" @fadeInDown>
    <img src="assets/svg/logo.svg" alt="Portfolio Logo" />
  </div>
  <div class="menu-container">
    <div *ngIf="showMenuListIcon; else icons" class="menu-list-icon-container">
      <i class="bi bi-list" (click)="showMenuIcon = !showMenuIcon"></i>
      <div class="menu-list-wrapper" *ngIf="showMenuIcon" @fadeIn>
        <ng-container *ngTemplateOutlet="headerLinks"></ng-container>
      </div>
    </div>
    <ng-template #icons>
      <ng-container *ngTemplateOutlet="headerLinks"></ng-container>
    </ng-template>
  </div>
  <ng-template #headerLinks>
    <div class="close-icon-wrapper" *ngIf="showMenuIcon">
      <span class="material-icons-outlined" (click)="showMenuIcon = false">
        close
      </span>
    </div>
    <ul class="menu">
      <li *ngFor="let link of links" (click)="scrollTo(link.name)">
        <a [href]="link.href">
          <i [class]="link.className"></i>
          {{ link.name }}
        </a>
      </li>
    </ul>
  </ng-template>
</header>
