/* You can add global styles to this file, and also import other style files */
:root {
  --bg-screen: #f6f8fa;
  --milk-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: National-Book, National-Medium, sans-serif;
  font-size: 16px;
  color: #12344d;
  background-color: var(--bg-screen);
}

div.tabs > ul.tabs__items::slotted {
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #12344d;
}

table {
  width: 100%;
  border: 1px solid #cfd7df;
  border-collapse: collapse;

  & > thead tr th.mat-header-cell {
    padding: 15px;
    background-color: #cfd7df;
    color: #12344d;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  & > tbody {
    & tr td {
      vertical-align: top;
      border-left: 1px solid #cfd7df;
      border-right: 1px solid #cfd7df;
      padding: 7px 14px !important;

      & span.address {
        font-size: 12px;
      }

      & div.vaccine-fee-container div.vaccine-fee-wrapper {
        margin: 10px 0;

        & span.vaccine-name {
          font-weight: 600;
          font-size: 12px;
        }

        & span.vaccine-name::after {
          content: "-";
          margin: 0 10px;
        }

        & span.fee {
          font-size: 12px;
          color: rgb(111, 124, 135);
        }
      }

      & div.slot-box {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        & div.vaccine-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 6px;

          & div.date {
            color: rgb(111, 124, 135);
            font-size: 12px;
            font-weight: 600;
          }

          & div.dose-total {
            display: flex;
            text-align: center;
            align-items: stretch;
            border: 1px solid #ccc;

            & > span {
              font-size: 12px;
              padding: 5px 7px;
            }

            & > span.totallists {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 35px;
              padding: 0;
              background-color: #b4e5da;
            }
          }

          & div > span.age-limit {
            font-size: 14px;
            color: #d72d30;
            font-weight: 500;
          }
        }
      }
    }

    & tr td:first-child {
      border-left: none;
    }

    & tr td:last-child {
      border-right: none;
    }

    & tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }
}
