<section
  id="connect"
  class="connect-section"
  (deferLoadAnimation)="renderComponent = true"
>
  <main *ngIf="renderComponent">
    <h2 @fadeIn><i class="bi bi-envelope"></i>Let's Connect</h2>
    <h1 @fadeInUp>Get In Touch</h1>
    <p @fadeInUp>
      Have a little something, something you wanna talk to me about? Well click
      the below button to send the messages.
    </p>
    <button class="primary" @fadeInUp>
      <a [href]="'mailto:' + email">Let's talk</a>
    </button>
  </main>
  <footer @fadeInUp>
    Design inspired from
    <a href="https://brittanychiang.com/" target="_blank" rel="noreferrer"
      >Brittany Chiang</a
    >
    and built by
    <a href="https://github.com/Sheik-Faridh" target="_blank" rel="noreferrer"
      >Sheik Faridh</a
    >
  </footer>
</section>
