<section id="connect" class="connect-section">
  <main>
    <h2><i class="bi bi-envelope"></i>Let's Connect</h2>
    <h1>Get In Touch</h1>
    <p>
      Have a little something, something you wanna talk to me about? Well click
      the below button to send the messages.
    </p>
    <button class="primary">
      <a [href]="'mailto:' + email">Let's talk</a>
    </button>
  </main>
  <footer>
    Design inspired from
    <a href="https://brittanychiang.com/" target="_blank" rel="noreferrer"
      >Brittany Chiang</a
    >
    and built by
    <a href="https://github.com/Sheik-Faridh" target="_blank" rel="noreferrer"
      >Sheik Faridh</a
    >
  </footer>
</section>
