<div class="slot-container" *ngIf="slots !== undefined">
  <div class="slot-wrapper">
    <h2>Slots Results</h2>
    <div class="table-container" [hidden]="slotsLength === 0">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="slot-results">
          <ng-container matColumnDef="hospital">
            <th mat-header-cell *matHeaderCellDef>Hospital</th>
            <td mat-cell *matCellDef="let slot">
              <h4>
                {{ slot.block_name }}
                <fw-label
                  value="Free"
                  color="green"
                  *ngIf="slot.fee_type === 'Free'"
                ></fw-label>
                <fw-label
                  value="Paid"
                  color="yellow"
                  *ngIf="slot.fee_type === 'Paid'"
                ></fw-label>
              </h4>
              <span class="address">{{ slot.address }}</span>
              <div
                *ngIf="slot.vaccine_fees?.length"
                class="vaccine-fee-container"
              >
                <div
                  *ngFor="let fee of slot.vaccine_fees"
                  class="vaccine-fee-wrapper"
                >
                  <div class="fee-data">
                    <span class="vaccine-name">{{ fee.vaccine }}</span>
                    <span class="fee">{{ fee.fee }}</span>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="slots">
            <th mat-header-cell *matHeaderCellDef>Slots</th>
            <td mat-cell *matCellDef="let slot">
              <div class="slot-box" *ngIf="slot.sessions?.length; else noSlots">
                <div class="vaccine-box" *ngFor="let session of slot.sessions">
                  <div class="date">
                    {{ session.date }}
                  </div>
                  <div class="vaccine-name">
                    <h5 class="name">{{ session.vaccine }}</h5>
                  </div>
                  <div class="dose-total">
                    <span title="Dose 1"
                      ><p>D1</p>
                      {{ session.available_capacity_dose1 }} </span
                    ><span class="totallists">
                      {{
                        session.available_capacity_dose1 +
                          session.available_capacity_dose2
                      }} </span
                    ><span title="Dose 2"
                      ><p>D2</p>
                      {{ session.available_capacity_dose2 }}
                    </span>
                  </div>
                  <div>
                    <span class="age-limit"
                      >{{ session.min_age_limit }} & above</span
                    >
                  </div>
                </div>
              </div>
              <ng-template #noSlots>
                <h4>No Slots Avalilable</h4>
              </ng-template>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="slotsLength"
          [pageSize]="20"
          aria-label="Select page of slot results"
        ></mat-paginator>
      </div>
    </div>
  </div>
  <!-- <ng-template #noRecord> -->
  <h3 [hidden]="slotsLength !== 0" class="record-not-found">
    No Vaccination center is available
  </h3>
  <!-- </ng-template> -->
</div>
