aside.social-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 75px;
  bottom: 0;
}

aside.social-container ul.social-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
}

aside.social-container ul.social-wrapper li:last-child {
  margin-bottom: 20px;
}

aside.social-container ul.social-wrapper::after,
aside.email-container > div::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--secondary-light-color);
}

aside.social-container ul.social-wrapper li {
  cursor: pointer;
  padding: 10px;
}

aside.social-container ul.social-wrapper li > a {
  text-decoration: none;
}

aside.social-container ul.social-wrapper li > a > i {
  font-size: 24px;
  color: var(--secondary-light-color);
}

aside.social-container ul.social-wrapper li:hover > a > i {
  color: var(--primary-color);
}

aside.email-container {
  position: fixed;
  right: 75px;
  bottom: 0;
}

aside.email-container > div > a {
  writing-mode: vertical-lr;
  text-orientation: inherit;
  color: var(--secondary-light-color);
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

aside.email-container > div > a:hover {
  color: var(--primary-color);
}

.social-tooltip {
  background-color: var(--bg-tooltip);
}
