<aside class="social-container">
  <ul class="social-wrapper">
    <li
      *ngFor="let social of socialList"
      aria-hiden="true"
      [matTooltip]="social.name"
      matTooltipClass="social-tooltip"
      matTooltipPosition="right"
      @bounce
    >
      <a [href]="social.link" target="_blank" rel="noreferrer">
        <i [class]="social.className"></i>
      </a>
    </li>
  </ul>
</aside>
<aside class="email-container">
  <div>
    <a [href]="'mailto:' + email" @bounce>{{ email }}</a>
  </div>
</aside>
