<section class="vaccination-monitor-section">
  <main class="card">
    <div class="container">
      <h3>
        COVID-19 Vaccines Near me<img
          src="../../../assets/img/india.png"
          alt="India Flag"
        />
      </h3>
      <div class="logo-container">
        <div class="logo-wrapper">
          <img src="../../../assets//img/logo.png" alt="logo" />
        </div>
      </div>
      <h2>Monitor Vaccine Availability</h2>
      <app-livecount></app-livecount>
      <div class="vaccination-search-container">
        <fw-tabs>
          <fw-tab tab-header="Search By PIN"
            ><app-pincode
              (updateVaccinationSlots)="updateVaccinationSlots($event)"
            ></app-pincode
          ></fw-tab>
          <fw-tab tab-header="Search By City"
            ><app-district
              (updateVaccinationSlots)="updateVaccinationSlots($event)"
            ></app-district
          ></fw-tab>
        </fw-tabs>
      </div>
    </div>
    <div class="info-container">
      <span><fw-icon name="info" size="20"></fw-icon></span>
      <ul>
        <li>
          Slots are updated by state vaccination centers and private hospitals
          <span>everyday at 8AM, 12PM, 4PM, &amp; 8PM.</span>
        </li>
        <li>
          <span><span></span>Walk-in available</span
          ><span
            >at all vaccination centers for age 18 years and above
            <span
              >(For timings for walk-in vaccinations, please contact the vaccine
              center.)</span
            ></span
          >
        </li>
        <li>
          <span>D1 - Vaccine Dose #1</span><span>D2 - Vaccine Dose #2</span>
        </li>
      </ul>
    </div>
    <app-slots [slots]="vaccinationSlots"></app-slots>
  </main>
</section>
