<section id="career" class="career-section">
  <main>
    <h2><i class="bi bi-graph-up"></i>Career</h2>
    <div class="education-container">
      <h2 class="title"><i class="bi bi-receipt-cutoff"></i>Education</h2>
      <div class="education-wrapper wrapper-container">
        <div *ngFor="let education of educations" class="grid-container">
          <div class="icon-wrapper"><i class="bi bi-bank"></i></div>
          <div class="education-details">
            <h2>
              {{ education.name }} <span>{{ education.marks }}</span>
            </h2>
            <h4>
              {{ education.college }}
              <span>{{ education.duration }}</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="experience-container">
      <h2 class="title"><i class="bi bi-briefcase"></i>Experience</h2>
      <div class="experience-wrapper wrapper-container">
        <div class="experience-list">
          <button
            *ngFor="let experience of workExperiences; index as i"
            [attr.aria-selected]="activeExperience === experience.company"
            (click)="setSelected(experience.company, i)"
          >
            {{ experience.company }}
          </button>
          <div
            class="active-line"
            [style]="'transform: translateY(calc(' + activeIndex + '* 42px));'"
          ></div>
        </div>
        <div class="border-marker">
          <div class="work-details" [ngSwitch]="activeExperience">
            <ng-template
              *ngFor="let experience of workExperiences"
              [ngSwitchCase]="experience.company"
            >
              <div class="company-details">
                <h3>
                  {{ experience.designation }}
                  <span
                    >@
                    <a
                      [href]="experience.link"
                      target="_blank"
                      rel="noreferrer"
                      >{{ experience.company }}</a
                    ></span
                  >
                </h3>
                <div class="duration">
                  {{ experience.joinedAt }} -
                  {{ experience.endedAt || "Present" }}
                </div>
              </div>
              <ul>
                <li *ngFor="let role of experience.roles">
                  {{ role }}
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="achievement-container">
      <h2 class="title"><i class="bi bi-trophy"></i>Achievements</h2>
      <div class="achievement-wrapper">
        <div
          *ngFor="let achievement of achievements"
          class="achievement-details"
        >
          <h2 *ngIf="achievement.link !== null; else elseBlock">
            <a [href]="achievement.link" rel="noreferrer" target="_blank">
              {{ achievement.name }}
            </a>
          </h2>
          <ng-template #elseBlock>
            <h2>{{ achievement.name }}</h2>
          </ng-template>
          <p>{{ achievement.description }}</p>
        </div>
      </div>
    </div>
  </main>
</section>
